@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  --black: #000000;
  --ash-black: #222;
  --white: #fafafa;
  --sky: #00ccff;
  --green: #22dddd;
  --mint-green: #00ffcc;
  --blue: #1300ff;
  --dusk: #6600ff;
  --purple: #e959ff;
  --pink: hsl(338, 100%, 56%);
  --red: #f42e2e;
  --orange: #ff7c1e;
  --yellow: #ffbb00;
  --light-pink: #ff99cc;

  --background: var(--ash-black);
  --accent: var(--white);

  padding: 0;
  background-color: var(--background);
  color: var(--accent);
  overflow: auto;
}

button {
  font-weight: 700;
  padding: .5rem 1rem;
  border: 1.5px solid var(--accent);
  border-radius: 10px;
  background: none;
  color: var(--accent);
  cursor: pointer;
  transition: all 0.3s ease;
  margin: .5rem auto;
  display: block;
  text-align: center;
  font-size: .8rem;
  margin-bottom: 1.5rem;
}

button:hover {
  background: var(--accent);
  color: var(--background);
}

.btn-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 1rem;
  margin: 0 auto;
  width: 100%;
  max-width: 400px;
}

.btn-pink {
  background: transparent;
  color: var(--accent);
  border: 1.5px solid var(--light-pink);
}

.btn-pink:hover {
  background: var(--light-pink);
  color: var(--background);
}

a {
  color: var(--accent);
  text-decoration: none;
}

.menu a {
  color: var(--background);
  text-decoration: none;
  font-weight: 500;
  padding: 1rem 1rem;

}

.section {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0rem 2rem;
}

.container {
  display: inline-flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  z-index: 1;
  max-width: 1200px;
}

* {
  font-family: sofia-pro, sans-serif;
  font-weight: 600;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}

h1,
h2 {
  font-family: sofia-pro, sans-serif;
  font-size: large;
  font-weight: 700;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  margin: .5rem 0 1rem 0;
}

h3 {
  font-family: sofia-pro, sans-serif;
  font-weight: 600;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  margin: 0;
}

p {
  margin: 0 0 30px 0;
  font-size: 18px;
}

code {
  font-family: input-mono, monospace;
  font-weight: 400;
  font-style: normal;
}

#progress {
  position: fixed;
  top: 20px;
  left: 20px;
  transform: rotate(-90deg);
}

circle {
  stroke-dashoffset: 0;
  stroke-width: 15%;
  fill: none;
}

.bg {
  stroke: var(--accent);
  opacity: 0.3;
}

#progress .indicator {
  stroke: var(--accent);
}

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  background: var(--background);
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-thumb {
  background: var(--accent);
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-corner {
  background: #fff3;
}

.refresh {
  padding: 5px;
  position: absolute;
  border: 1px dotted var(--accent);
  border-radius: 5px;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.refresh path {
  fill: var(--accent);
}

.box {
  display: flex;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: var(--accent);
  cursor: pointer;
  transition: all 0.3s ease;
  margin-right: 2vh;
  margin-top: 5vh;
}

@media screen and (max-width: 800px) {
  .box {
    max-width: 100px;
    max-height: 100px;
  }
}

@media screen and (max-width: 400px) {
  .box {
    display: hidden;
  }
}

.box:hover {
  background: var(--yellow);
}

.animate-bounce {
  animation: bounce 2s infinite;
}

@keyframes bounce {

  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-30px);
  }

  60% {
    transform: translateY(-15px);
  }
}

.small-box {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: var(--accent);
  cursor: pointer;
  transition: all 0.3s ease;
  margin-right: 5vh;
}

@media screen and (max-width: 800px) {
  .small-box {
    max-width: 100px;
    max-height: 100px;
  }
}

@media screen and (max-width: 400px) {
  .box {
    display: block;
    flex-shrink: calc(100% / 6);
    max-width: 5rem;
    max-height: 5rem;
  }
}



.dot {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 0;
  padding-bottom: 10px;
}

.menu {
  display: sticky;
  position: fixed;
  top: 12px;
  right: 20px;
  width: 130px;
  padding: 1rem .5rem;
}


.hello-text {
  display: flex;
  flex-wrap: wrap;
  font-size: 4.5rem;
}

@media screen and (max-width: 800px) {
  .hello-text {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 3.5rem;
    font-weight: 550;

  }
}

.hello-text-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: left;
  justify-content: left;
  align-items: center;
  margin: 0 auto;
}

.H-0:hover {
  color: var(--light-pink);
}

.e-1:hover {
  color: var(--sky);
}

.l-2:hover {
  color: var(--yellow);
}

.l-3:hover {
  color: var(--mint-green);
}

.o-4:hover {
  color: var(--orange);
}

button {
  background: var(--yellow);
  color: var(--background);
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  width: 100%;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button:hover {
  background: var(--sky);
}

button path {
  fill: var(--background);
}

.menu-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.hello-block {
  display: block;
  justify-content: left;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  max-height: 600px;
}

@media screen and (max-width: 800px) {
  .hello-block {
    display: flex;
    margin-top: -3.5rem;
    flex-direction: row;
  }

}

.logo {
  display: flex;
  width: 10rem;
  height: 5rem;
  margin: 1rem 0rem;
  padding-right: 20px;
}

@media screen and (max-width: 800px) {
  .logo {
    width: 8rem;
    height: 4rem;
  }
}

ul {
  display: flex;
  flex-direction: column;
  background: var(--white);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: solid 1px var(--accent);
}

li {
  font-weight: 900;
  display: block;
}


li:hover {
  color: var(--yellow);
}

.navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0rem auto;
  width: 100%;
  max-width: 1200px;
}

.nav-link {
  justify-content: right;
  align-items: right;
  padding: 0 1rem;
  font-weight: 600;
  margin: 0;
}

.nav-link:hover {
  color: var(--yellow);
}

.social-icons {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  color: var(--pink);
  width: 100%;
}

.social-icons a:hover {
  color: var(--yellow);
  scale: 1.1;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 1rem auto;
}

.card-list {
  display: block;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.card-image-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 1rem auto;
  width: 100%;
  max-width: 1200px;
}


.card-image {
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 0;
  border-radius: 12%;
  max-width: 400px;
}

.card-title {
  font-weight: 700;
  text-transform: uppercase;
  margin: 1rem 0;
  padding: .5rem 0;
  max-width: 500px;
}

.card-title p {
  font-weight: 550;
  color: #88bcff;
  text-transform: none;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  margin: 1rem auto;
  width: 100%;
  max-width: 800px;
  max-height: 600px;
  overflow: auto;
  text-decoration: none;
}

.resume-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  padding: 1rem 0;
}

.landing-page {
  display: flex;
  flex-direction: column;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  padding: 0rem 0rem;
  padding-right: 5rem;
  margin-top: -5rem;
}

@media screen and (max-width: 800px) {
  .intro {
    padding: 0rem 2rem;
    padding-right: 0rem;
    margin-top: -2.5rem;
  }
}