@import url('https://fonts.googleapis.com/css2?family=Sofia+Pro:wght@400;600&display=swap');
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  --black: #000000;
  --ash-black: #222;
  --white: #fafafa;
  --sky: #00ccff;
  --green: #22dddd;
  --mint-green: #00ffcc;
  --blue: #1300ff;
  --dusk: #6600ff;
  --purple: #e959ff;
  --pink: hsl(338, 100%, 56%);
  --red: #f42e2e;
  --orange: #ff7c1e;
  --yellow: #ffbb00;
  --light-pink: #ff99cc;

  --background: var(--ash-black);
  --accent: var(--white);

  padding: 0;
  background-color: var(--background);
  color: var(--accent);
  overflow: auto;
}

a {
  color: var(--accent);
  text-decoration: none;
}

.menu a {
  color: var(--background);
  text-decoration: none;
  font-weight: 500;
  padding: 1rem 1rem;

}

.section {
  margin: 0 auto;
  max-width: 1200px;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  padding: 0rem 2.5rem;
}

* {
  font-family: sofia-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3 {
  font-family: sofia-pro, sans-serif;
  font-weight: 600;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0.5rem 0rem;
}

p {
  margin: 0 0 30px 0;
  font-size: 18px;
}

code {
  font-family: input-mono, monospace;
  font-weight: 400;
  font-style: normal;
}

#progress {
  position: fixed;
  top: 20px;
  left: 20px;
  transform: rotate(-90deg);
}

circle {
  stroke-dashoffset: 0;
  stroke-width: 15%;
  fill: none;
}

.bg {
  stroke: var(--accent);
  opacity: 0.3;
}

#progress .indicator {
  stroke: var(--accent);
}

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  background: var(--background);
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-thumb {
  background: var(--accent);
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-corner {
  background: #fff3;
}

.refresh {
  padding: 5px;
  position: absolute;
  border: 1px dotted var(--accent);
  border-radius: 5px;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.refresh path {
  fill: var(--accent);
}

.box {
  display: block;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: var(--accent);
  cursor: pointer;

  @media screen and (max-width: 768px) {
    width: 100px;
    height: 100px;

  }
}

.box:hover {
  background: var(--yellow);
}

.jobTitles {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.app {
  display: flex;
  align-items: center;
  color: var(--accent);
  margin: 0;
  padding: 1rem;
  height: 30vh;
}

.dot {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 0;
}

.menu {
  display: sticky;
  position: fixed;
  top: 12px;
  right: 20px;
  width: 130px;
  padding: 1rem .5rem;
}



.menu-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}



.hello-text {
  margin: 0 .1rem;
  font-weight: 570;
  font-size: 4.5rem;
}

@media screen and (max-width: 768px) {
  .hello-text {
    font-size: 2.5rem;
  }

}


.H-0:hover {
  color: var(--light-pink);
}

.e-1:hover {
  color: var(--sky);
}

.l-2:hover {
  color: var(--yellow);
}

.l-3:hover {
  color: var(--mint-green);
}

.o-4:hover {
  color: var(--orange);
}

@media screen and (max-width: 768px) {
  .hello {
    display: flex;
    flex-direction: row;
    font-size: 3.5rem;
  }
}

.logo {
  width: 10rem;
  height: 5rem;
  margin: 1rem 0rem;
  padding-right: 20px;
}

ul {
  display: flex;
  flex-direction: column;
  background: var(--white);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: solid 1px var(--accent);
}

li {
  font-weight: 900;
  display: block;
}


li:hover {
  color: var(--yellow);
}

button {
  background: var(--yellow);
  color: var(--background);
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  width: 100%;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button:hover {
  background: var(--sky);
}

button path {
  fill: var(--background);
}

.navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0rem auto;
  width: 100%;
  max-width: 1200px;
}

.nav-link {
  justify-content: right;
  align-items: right;
  padding: 0 1rem;
  font-weight: 600;
  margin: 0;
}

.nav-link:hover {
  color: var(--yellow);
}

.social-icons {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  color: var(--pink);
  width: 100%;
}

.social-icons a:hover {
  color: var(--yellow);
  scale: 1.1;
}

.card-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 1rem;
  margin: 0 auto;
}